* {
  text-align: center;
  font-family: sans-serif;
}
.text {
  color: blue;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 2px;
}
.about {
  /* max-width: 500px; */
  position: absolute;
  top: 0;
}
.relative {
  position: relative;
}
